/* header-part css start */
.bg-color{
    background-color: #264653;
    height: 698px;
}
#color{
    color: white;
}
.btn-color{
    background-color: rgb(231 111 81);
}

/* header-part css end */
/* main part start */
.best-bike-color{
    color: rgb(231 111 81);
}
.grayscale{
    filter: grayscale(100%);
}
.h5-color{
    color:#23a6f0 ;
}
.far fa-star .far fa-star{
    color: tomato;
}
.size{
    height: 40%;
}
