/* header-part css start */
.bg-color{
    background-color: #264653;
    height: 698px;
}
#color{
    color: white;
}
.btn-color{
    background-color: rgb(231 111 81);
}

/* header-part css end */
/* main part start */
.best-bike-color{
    color: rgb(231 111 81);
}
.grayscale{
    filter: grayscale(100%);
}
.h5-color{
    color:#23a6f0 ;
}
 .far{
    background-color:lightgray;
}
.size{
    height: 40%;
}
/* footer part start */
footer{
    padding: 8px;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 140px auto;
}
.footer-img img{
    width: 484px;
    margin-bottom: 20px;
}
.fab{
    margin-right: 14px;
    margin-bottom: 20px;
    font-size: 16px;
    background:lightgray
}
/* footer part end */
